python-telegram-bot==20.4
vk-api==11.9.1
requests==2.31.0
psycopg2-binary==2.9.9
psycopg2-binary
fastapi~=0.123.0
uvicorn
psycopg2~=2.9.11
python-dotenv~=1.0.0
telegram
aiohttp
fastapi-utils
typing-inspect
supabase
