python-telegram-bot==20.4
vk-api==11.9.1
requests==2.31.0
supabase>=2.4.0
gotrue>=2.4.0
postgrest>=2.4.0
supafunc>=2.4.0
httpx==0.27.0
fastapi==0.123.0
uvicorn
fastapi-utils
python-dotenv==1.0.0
aiohttp
typing-inspect
telegram
